.admin-comment-list-box {
  margin-top: 3px;
  display: flex;
  width: 1132px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.admin-comment-item-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100%;
}

.admin-comment-item-user-contents {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 412px;
  height: 100%;
}

.admin-comment-item-write-datetime {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100%;
}