.admin-user-review-board-list-item-box:hover {
  cursor: pointer;
}
.admin-user-review-board-list-box {
  margin-top: 3px;
  display: flex;
  width: 1132px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.admin-user-review-board-list-box:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.admin-user-review-board-item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

.admin-user-review-board-item-title-box {
  display: flex;
  justify-content: center;
  width: 432px;
  height: 100%;
}

.admin-user-review-board-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.admin-user-review-board-item-comment-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}

.admin-user-review-board-item-write-datetime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 14px;
}

.admin-user-review-board-item-favorite-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}

.admin-user-review-board-item-view-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}