.advertising-board-list-item-box{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  height: 300px;
}

.advertising-board-list-item-box:hover{
  cursor: pointer;
  box-shadow: 5px 3px 3px rgba(0,0,0,0.5);
}

.image{
  justify-content: center;
  width: 100%;
  height: 200px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.count{
  display: flex;
  padding: 8px 0px 0px;
  justify-content: space-between;
  width: 100%;
  height: 25px;
}

.short-review-count{
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: center;
}

.favorite-count{
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: center;
}

.view-count{
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: center;
}

.title{
  color: #1A1A1A;
  font-size: 14px;
  padding: 8px 0px 0px;
  height: 25px;
}

.write{
  color: #1A1A1A;
  font-size: 14px;
  margin: 4px 0px 0px;
  height: 25px;
}

.datetime{
  color: #1A1A1A;
  font-size: 10px;
  margin: 4px 0px 0px;
  height: 20px;
}