.notice-board-list-item-box {
	width: 1440px;

	display: block;
	align-items: center;
	justify-content: center;
}

.notice-board-list-item-box:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

.notice-board-list-box {
	margin: 5px 0px 5px;
	padding: 10px 50px 10px;

	display: block;
	align-items: center;
	justify-content: space-between;
}

.notice-board-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notice-board-number {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 500;
}

.notice-board-title {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 500;
}

.notice-board-writer {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 500;
}

.notice-board-write-date {
	font-family: Noto Sans KR;
	font-size: 20px;
	font-weight: 500;
}