.advertising-board-write-item-list{

  border-top:1px solid rgba(0,0,0,0.2);

  padding: 0 153px;
}

.advertising-board-write-item{
  padding: 100px 24px;

  background-color: #ffffff;
}

.advertising-board-write-title-container {
  margin-bottom: 20px;
}



