.notice-board-detail-item-list {
	width: 1000px;
	display: flex;
	flex-direction: column;
}

.notice-board-detail-header {
	margin: 20px 0px 20px;
}

.notice-board-detail-title {
	margin-bottom: 20px;
	font-size: 35px;
	font-weight: 500;
	line-height: 100%;
}

.notice-board-detail-data {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.notice-board-detail-writer {
	display: flex;
	align-items: center;
}

.notice-board-detail-nickname {
	margin-right: 10px;

	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
}

.notice-board-detail-writedatetime {
	margin-left: 10px;

	font-size: 15px;
	font-weight: 500;
	line-height: 100%;

	color: rgba(0, 0, 0, 0.8);
}

.notice-board-more-buttons {
	display: flex;

	align-items: center;
}

.more-button-group {
	position: absolute;
	top: 29px;
	right: 0;

	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 16px 0px rgba(0,0,0, 0.4);
}

.update-button {
	padding: 10px 17px;

	width: 109px;
	height: 20px;

	display: flex;
	justify-content: center;
	align-items: center;


	font-size: 14px;
	font-weight: 500;
	line-height: 100%;
}

.update-button:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
}

.delete-button {
	padding: 10px 17px;

	width: 109px;
	height: 20px;

	display: flex;
	justify-content: center;
	align-items: center;


	font-size: 14px;
	font-weight: 500;
	line-height: 100%;
}

.delete-button:hover {
	cursor: pointer;
	color: rgba(255, 0, 0, 0.8);
}


.notice-board-detail-more-button {
	border-radius: 24px;

	width: 24px;
	height: 24px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.notice-board-detail-more-button:hover {
	cursor: pointer;
}

.more-icon {
	width: 21px;
	height: 21px;

	background-image: url(asset/more.png);
	background-position: 50% 50%;
	background-size: 100% 100%;
}
.notice-board-detail-footer {
	margin-top: 20px;
}

.notice-board-detail-contents {
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
}

.notice-board-detail-image-box {
	margin-top: 20px;
}

.notice-board-detail-image {
	width: 100%;
}

.back-button {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}