.admin-user-list-box {
  margin-top: 3px;
  display: flex;
  width: 1152px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.admin-user-list-box:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.admin-user-item-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 100%;

}

.admin-user-item-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 14px;
}

.admin-user-item-nickname{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}

.admin-user-item-address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 14px;
}

.admin-user-item-address-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 14px;
}


.admin-user-item-role {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}

.admin-user-item-telnumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  font-size: 14px;
}
