.admin-user-detail {
    width: 1440px;

    margin-bottom: 20px;

    display: flex;
}

.admin-user-detail-left {
    width: 288px;
    height: 230px;
    padding: 20px;

    flex: 2;

    background-color: #d0d0d0;
}

.admin-user-detail-left-button {
    margin-bottom: 20px;

    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    font-size: 18px;
}

.admin-user-detail-left-button:hover {
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.1);
}

.admin-user-detail-right {
    width: 1152px;
    margin-left: 50px;

    flex: 7;
}

.admin-user-detail-right-top {
    width: 1152px;
    display: flex;
    align-items: center;
}

.admin-user-detail-right-item-box {
    width: 1152px;

    font-size: 20px;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0.1);
}

.admin-user-detail-box {
    
    margin: 10px;
    padding: 5px;

    display: flex;
    align-items: center;
}

.admin-user-detail-name {
    width: 90px;
    height: 30px;
    
    padding: 5px;

    display: flex;
    align-items: center;

}

.admin-user-detail-content {
    width: 200px;
    height: 30px;
    
    margin-left: 10px;
    padding: 5px;

    display: flex;
    align-items: center;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}

.admin-user-detail-right-bottom {
    width: 1152px;
    height: 500px;

    margin-top: 30px;

    font-size: 20px;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0.1);
}


.menu-button-box {
    display: flex;
    align-items: center;
}

.menu-button {
    margin: 10px;

    width: 80px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}
